*{
  margin: 0;
  padding: 0;
  font-family:'Work Sans', sans-serif;
}


:root{
  --button-width: 100%;
  --button-height: 70px;
  --sidebar-buttons-width: 70px;
  --sidebar-buttons-height: 220px;
  --sidebar-buttons-background-color: white;
  --save-button-background-color:rgb(23, 151, 255);
  --input-font-color: rgb(145, 144, 144);
  --box-shadow: -2px 9px 65px -15px rgba(0, 0, 0, 0.91);
  --back-botton-hover: rgb(118, 238, 118);
  --dropdown-width: 250px;
  --dropdown-height: 30px;
  --dropdown-background: white;
  --border-radius: 5px;
  --dropdown-hover-color: rgb(145, 145, 145);
  --dropdown-font-size: 12px;
  --dropdown-max-width: 200px;
  --dropdown-box-shadow: 10px 8px 12px -6px rgba(0,0,0,0.55);
  --font-family: 'Work Sans', sans-serif;
}